/**/*

!/model/
!/model/convolution_and_dense_network_with_adam_optimizer.ipynb
!/model/convolution_and_dense_network_with_SGD_optimizer.ipynb
!/model/dense_network_with_adam_optimizer.ipynb
!/model/dense_network_with_ELU_activation.ipynb
!/model/dense_network_with_leaky_ReLU_activation.ipynb
!/model/dense_network_with_SGD_optimizer.ipynb
!/model/main.py
!/model/*.pth
!/model/requirements.txt

!/.gitignore
!/CMakeLists.txt
!/main.cpp
!/README.md
!/install.sh
!/LICENSE

!/.vscode/
!/.vscode/extensions.json
!/.vscode/settings.json
